:root {
    --th-l-background: #ededed;
    --th-l-shadow: #cdcdcd;
    --th-l-light: #ffffff;
    --th-l-link: #fabf14;
    --th-l-link-a: #a4a4a4;
    --th-l-tx-b: #6f6f6f;
    --r-small: 5px;
    --r-med: 10px;
    --r-large: 20px;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    overflow-x: hidden;
    background: var(--th-l-background);
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

input, textarea, button, select, a, div, img {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    color: inherit;
    text-decoration: inherit;
}

header {
    position: fixed;
    z-index: 98;
    width: 100%;
    height: .75in;
    box-shadow: 0 0 10px var(--th-l-shadow);
    background: var(--th-l-background);
    border-bottom: 1px solid var(--th-l-light);
    box-sizing: border-box;
}

main {
    position: absolute;
    z-index: 0;
    width: 100%;
}

section {
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* ------------------ */

.neu-flat-ex {
    color: var(--th-l-tx-b);
    background: var(--th-l-background);
    box-shadow: 5px 5px 10px var(--th-l-shadow), -5px -5px 10px var(--th-l-light);
}

.neu-flat-ex:active {
    color: var(--th-l-link);
    box-shadow: inset 5px 5px 10px var(--th-l-shadow), inset -5px -5px 10px var(--th-l-light);
}

.neu-flat-in {
    background: var(--th-l-background);
    box-shadow: inset 5px 5px 10px var(--th-l-shadow), inset -5px -5px 10px var(--th-l-light);
}

.neu-curve-ex {
    background: linear-gradient(145deg, var(--th-l-light), var(--th-l-shadow));
    box-shadow: 5px 5px 10px var(--th-l-shadow), -5px -5px 10px var(--th-l-light);
}

.neu-curve-in {
    background: linear-gradient(145deg, var(--th-l-shadow), var(--th-l-light));
    box-shadow: 5px 5px 10px var(--th-l-shadow), -5px -5px 10px var(--th-l-light);
}

.full-back {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* ---------------------------------- */

.hamBurger {
    position: absolute;
    left: 1vh;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    place-items: center;
    box-sizing: border-box;
    height: .4in;
    width: .4in;
    padding: 2%;
    cursor: pointer;
    z-index: 2;
    border-radius: var(--r-small);
}

.hamBurgerDiv {
    width: 90%;
    height: .2vh;
    background-color: var(--th-l-tx-b);
}

.hamActive {
    color: var(--th-l-link);
    box-shadow: inset 5px 5px 10px var(--th-l-shadow), inset -5px -5px 10px var(--th-l-light);
}

.hamActive>.hamBurgerDiv {
    background-color: var(--th-l-link);
}

.header-icon {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: .4in;
    width: .4in;
    padding: 0px;
    cursor: pointer;
    border-radius: 50%;
    background-image: url("../logo/sunfuel.svg");
}

#nav-container {
    position: fixed;
    top: .74in;
    left: -100vw;
    width: 100vw;
    height: 90vh;
    min-height: 6in;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0 0 var(--r-small) 0;
}

.nav-menu {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 10px;
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    border-radius: var(--r-med);
    cursor: pointer;
}

/* ----------------------------- */

.nav-item-container {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    padding: 10px;
    cursor: pointer;
}

.center-content {
    position: relative;
    height: 100%;
    width: 60%;
}

.center-content-row {
    width: 100%;
}

.center-para {
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}

.icon-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icon-holder {
    width: 50%;
    position: relative;
}

.icon {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100px;
}

.icon-small {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 60px;
}

.icon-text {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.text-large {
    font-size: 22px!important;
    font-weight: 500;
    line-height: 20px;
}

.text-med {
    font-size: 16px!important;
}

.text-small {
    padding: 0!important;
    font-size: 14px!important;
}

/* ------------------ */

.glass {
    backdrop-filter: blur(30px);
}

.x-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.all-center {
    display: grid;
    place-items: center;
}

.text-center {
    text-align: center;
}

.full-screen {
    display: block;
    width: 100%;
    height: 100vh;
}

.text-light {
    color: var(--textLight2);
    font-weight: 300;
    font-size: 16px;
}

.left-div {
    position: relative;
    float: left;
    width: 45%;
    height: 100%;
}

.right-div {
    position: relative;
    float: right;
    width: 45%;
    height: 100%;
}

.right-div-small {
    width: 35%;
    text-align: center;
}

.full-width {
    width: 100%;
}

.noDisplay {
    display: none!important;
}

.brdr {
    border: 1px solid red;
}

.small-x {
    height: 80vh !important;
}

.small-xs {
    height: 60vh !important;
}

#loaderDiv {
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    background-color: var(--offBlack);
}

/* mobile portrait */

@media only screen and (max-width: 567px) {}

/* mobile landscape, tab */

@media only screen and (min-width: 568px) and (max-width: 1024px) {}